body{
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-user-select: none;
    font:400 16px/1.5 PingFangSC-regular,Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    background: #fafafc;
}
a{
    text-decoration: none;
    color: black;
}
div{
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.search{
    /* 固定定位与父级没有关系，以屏幕为准，所以得设置宽高 */
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    align-items: center;
}

.self{
    position: absolute;
    width: 51px;
    height: 100%;
    right: 0;
    font-size: .75rem;
    line-height: 1;
    text-align: center;   
    letter-spacing: 3px;
}
.self:before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/spirit.png) no-repeat 0px -36px;
    background-size: 21px;
    margin: 1px auto;
    margin-top: 5px;
}
.self a{
    color: #fff;
}
.search-box::before{
    content: '';
    position: absolute;
    top:7px;
    left: 14px;
    width: 35px;
    height: 28px;
    background: url(../images/spirit.png) no-repeat -1px -1px;
    background-size: 20px;
}
.search-box{
    flex: 1;
    position: relative;
    height: 28px;
    justify-content: center;
    border: 1px solid #ccc;
    line-height: 26px;
    margin: 0 51px 0 12px;
    padding-left: 37px;
    border-radius: 15px 15px;
    background-color: #fff;
    color:#666;
    font-size:.94rem;
}
.focus img{
    width: 100%;
    border-radius: 0 0 15px 15px;
}
.focus{
    margin-top: -44px;
}
.local_nav{
    display: flex;
    position: relative;
    height: 64px;
    border-radius: 8px;
    margin: -52px 12px 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,.08);
    justify-content: space-between;
    color: rgb(239, 239, 239);
    background: #fff;
}
.local_nav li{
    flex: 1;
}
.local_nav li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.local_nav li span[class^="local-nav"]{
    width: 40px;
    height: 40px;
    background-color: aqua;
    background: url(../images/spirit1.png) no-repeat 2px 1px;
    background-size: 35px;
}
.local_nav li a .local-nav-icon2{
    background-position:2px -33px;
}
.local_nav li a .local-nav-icon3{
    background-position:2px -67px;
}
.local_nav li a .local-nav-icon4{
    background-position:2px -101px;
}
.local_nav li a .local-nav-icon5{
    background-position:2px -135px;
}
.local_nav .text{
    font-size: 12px;
} 
.nav{
    border-radius: 8px;
    margin: 0 12px 3px;
    overflow: hidden;
}
.content{
    display: flex;
    height: 66.19px;
    background-color: aqua;
    width: 100%;
}
.content:nth-child(2){
    margin: 1px 0;
 }
.nav1-item1{
    flex: 31%;
 }
.nav1-item2{
    flex:23%;
    border-left: 1px solid #fff;
}
.nav1-item3{
    flex:46%;
    border-left: 1px solid #fff;
}
.nav-item1{
    flex: 31%;
}
.nav-item2{
    flex: 23%;
    border-left: 1px solid #fff;
}
.nav-item3{
    flex: 23%;
    border-left: 1px solid #fff;
}
.nav-item4{
    flex: 23%;
    border-left: 1px solid #fff;
}
.nav a{
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    font-size: 14px;
    line-height:66.19px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
}
.nav .nav1{
    background: -webkit-linear-gradient(left,#ff4d47,#ff7544,#ffba43,#ffcf4f) ;
}
.nav .nav2{
    background: -webkit-linear-gradient(left,#0d91ed,#00a0ee,#00aaed,#00beee) ;
}
.nav .nav3{
    background: -webkit-linear-gradient(left,#00c6ad,#00cb96,#22d763,#23d763) ;
}
.nav1-item1{
    background: url(../images/1.png) no-repeat bottom right;
    background-size: 73px;
}
.nav1-item2{
    background: url(../images/2.png) no-repeat bottom left;
    background-size: 37px;
}
.nav1-item3{
    background: url(../images/3.png) no-repeat bottom right;
    background-size: 161px;
}
.nav2 .nav-item1{
    background: url(../images/4.png) no-repeat bottom right;
    background-size: 80px;
}
.nav2 .nav-item2{
    background: url(../images/5.png) no-repeat bottom left;
    background-size: 37px;
}
.nav3 .nav-item1{
    background: url(../images/6.png) no-repeat bottom right;
    background-size: 94px;
}
.nav3 .nav-item2{
    background: url(../images/7.png) no-repeat bottom left;
    background-size: 61px;
}
.list ul{
    display: flex;
    margin: 0 12px 12px;
    flex-wrap: wrap;
    background-color: rgb(250,250,252);
}
.list ul li{
   flex: 20%; 
   height: 55px;
}
.list ul li a{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 10px;
     font-size: 12px;
}
li span[class^="img"]{
    width: 28px;
    height: 28px;
    background: url(../images/spirit2.png) 1px -4px;
    background-size: 30px;
}
ul li .img-icon2{
    background-position: 1px -34px;
}
ul li .img-icon3{
    background-position: 1px -64px;
}
ul li .img-icon4{
    background-position: 1px -94px;
}
ul li .img-icon5{
    background-position: 1px -124px;
}
ul li .img-icon6{
    background-position: 1px -154px;
}
ul li .img-icon7{
    background-position: 1px -184px;
}
ul li .img-icon8{
    background-position: 1px -214px;
}
ul li .img-icon9{
    background-position: 1px -244px;
}
ul li .img-icon10{
    background-position: 1px -274px;
}
.footer{
    display: flex;
    height: 60px;
    margin-bottom: 2px;
    background-color: #fff;
}
.list-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-item span[class^="img"]{
    margin-top: 5px;
}
.footer .list-item span{
    font-size: 12px;
}
.list-item .img-img1:before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/num.png) no-repeat -3px -2px;
    background-size: 24px;
}
.list-item .img-img2:before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/xiazai.png) no-repeat -1px -3px;
    background-size: 21px;
}
.list-item .img-img3:before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/ren.png) no-repeat 0px 0px;
    background-size: 21px;
}
.email{
    display: flex;
    flex-direction: column;
}
.email span{
    flex: 1;
    text-align: center;
    margin-top: 7px;
    font-size: 8px;
}
.email span:nth-child(2){
    color: rgb(153,165,195);
}
.email span:nth-child(1){
    color: rgb(126,125,126);
}